{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-4">
          {% if error is defined and error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
          {{ form(form) }}
          <div class="text-center text-muted">
            <a href="{{ path('security_signup') }}">Registrieren</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
