{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-4 mt-5">
    {{ form(form) }}
    </div>
    </div>
    </div>
    
{% endblock %}