{% extends 'base.html.twig' %}

{% block title %}Neues Thema anlegen{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h1 class="text-center">
                Neues Thema anlegen
            </h1>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
