{% extends "base.html.twig" %}

{% block title %}Über Meldung entscheiden{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-12 justify-content-center">
            <h1 class="text-center">Über Meldung entscheiden</h1>
            {{ form(form) }}
        </div>
    </div>
    </div>
{% endblock %}
