{% extends "base.html.twig" %}

{% block title %}Neue Meldung{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Neue Meldung</h1>
        {{ form(form) }}
    </div>
{% endblock %}
